body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
  }
  
.heading{
    color: white;
    font-size: 25px;
    text-align: center !important;
}

.header{
    padding: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.home{
    float: left;
    font-size: large;
}


.home-link{
    color: white !important;
}

.home-link:hover, .home-link:focus{
    text-decoration: none;
}
