body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 5rem 1.5rem;
  }
  
.heading{
    color: white;
    padding: 0rem;
    font-size: 2rem;
    text-align: center !important;
}

.navbar{
    float: left;
    padding:0;
}

.nav-link{
    color: white !important;
    margin: 0px 0.5rem;
    transition: all 0.5s;
}

.nav-link:hover{
    background-color: #263238;
    border-radius: 2px;
}

.current{
    border-bottom: 2px solid white;
    font-weight: 500;
}

.header{
    padding: 0.2rem ;
    padding-top: 1rem;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

